@model IEnumerable<Emp.Models.Employee>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background-image: url('https://static.vecteezy.com/system/resources/previews/003/161/903/non_2x/light-blue-yellow-gradient-blur-background-vector.jpg');
        background-size: cover;
        font-family: 'Consolas', monospace;
        background-repeat: no-repeat;
    }
</style>
<div class="container mt-5">
    <h1 class="mb-4">@ViewData["Title"]</h1>

    <div class="mb-3">
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        }
    </div>

    <table class="table table-dark table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Age)</th>
                <th>@Html.DisplayNameFor(model => model.Dob)</th>
                <th>@Html.DisplayNameFor(model => model.Address)</th>
                <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>@Html.DisplayNameFor(model => model.IsAdmin)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Age)</td>
                    <td>@Html.DisplayFor(modelItem => item.Dob)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.IsAdmin)</td>
                    <td>
                        @if (   (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))  && (User.Identity.IsAuthenticated))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning me-2">Edit</a>

                            @if ((User.IsInRole("Admin") || User.IsInRole("SuperAdmin")) && (User.Identity.IsAuthenticated) && User.Identity.Name != item.Email)
                            {
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger me-2">Delete</a>
                             
                            }
                        }
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
